/** @format */
.body {
  font-family: "Montserrat", sans-serif;
}
#title {
  background-color: #ff4c68;
}

#text {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2.5rem;
}

.navbar {
  font-family: "Ubuntu", sans-serif;
}

.nav-item {
  padding: 0 0 0 2rem;
  font-size: 1rem;
}

.text-container {
  padding: 0;
}

/* download buttons */

.button {
  margin: 3% 3% 0 0;
}

.title {
  padding: 3% 15%;
  font-family: "Ubuntu", sans-serif;
}

.img-fluid {
  padding: 2px;
}
.image {
  width: 60%;
  transform: rotate(30deg);
}

.row {
  margin: 5% 0;
}

/* features section */

#features {
  padding: 7% 15%;
}

.feature-icons {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 3% 0;
}

.fa-circle-check {
  color: #ef8172;
}

.fa-bullseye {
  color: #ef8172;
}

.fa-heart {
  color: #ef8172;
}

.feature-text {
  text-align: center;
  padding: 5% 0;
  width: 100%;
}
.fea{
  padding-left: 0;
}
.features {
  padding: 2% 0;
  margin:0;
}
.primary-text {
  font-size: 1.5rem;
  font-family: "montserrat";
  width: 100%;
}

.sub-text {
  color: #8f8f8f;
  font-family: "Ubuntu";
}

.fa-bullseye:hover {
  color: #ff4c68;
}

.fa-circle-check:hover {
  color: #ff4c68;
}

.fa-heart:hover {
  color: #ff4c68;
}

/* testimonial-section */

#testimonials {
  
  background-color: #ef8172;
  text-align: center;
  color: #fff;
}

.testimonial-text{
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 1.5;

}

.carousel-item{
  padding: 7% 15%;
}

.testimonial-image{
  width: 8.5rem;
  color: #ef8172;
  border-radius: 100%;
  margin:20px;
}



/* press */

#press{
  padding: 2% 0%;
  background-color: #ef8172;
  /* text-align: center; */

}

.press-icons{
  
  /* display: inline-flex; */
  justify-content: center;
  height:38%;
  /* margin:1%; */
  padding:0%;
}



/*pricing */

#pricing{
  padding: 7% 15%;
}

.pricing-note{
   text-align: center;
   font-family: "montserrat";
}

.pricing-subtext{
  text-align: center;
  color: #8f8f8f;
  font-family: "Ubuntu";

}

.pricing-table{
  justify-content: space-between;
  margin:2% 4% ;
  padding: 0%;
}

.card-header{
  font-family: "Montserrat", sans-serif;
  text-align: center;
}

.card-body{
  text-align: center;
}

.card-tags{
  font-family: "Montserrat", sans-serif;
}

.card-para{
  font-family: "Ubuntu";
  color: #8f8f8f;
}

.card-button{
  width:100%;
}

#cta{
  /* width:100%; */
  background-color:#ff4c68;
  padding: 7% 15%;

}

.cta-buttons{
  justify-content: center;

}

.cta-tag{

  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  
}

.footer-item{
  padding:1%;
}

.copyright{
  font-family: "Ubuntu";
  color: #8f8f8f;
}



